body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 800px; /* Максимальная ширина для контейнера */
}

.section {
    flex: 1; /* Каждая секция занимает равную долю пространства */
    padding: 20px;
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

input {
    padding: 10px;
    width: 100%; /* Ширина поля ввода 100% от родительского элемента */
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
}

h2 {
    margin-top: 20px;
}

/* Мобильная версия */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Вертикальное расположение на мобильных устройствах */
    }
}