body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex; /* Горизонтальное расположение по умолчанию */
    width: 100%;
    max-width: 1200px; /* Максимальная ширина для контейнера */
    gap: 20px; /* Расстояние между секциями */
}

.section {
    flex: 1; /* Каждая секция занимает равную долю пространства */
    padding: 20px;
    box-sizing: border-box; /* Учитываем отступы в ширине */
    background-color: #ffffff; /* Добавляем фон для секций */
    border-radius: 8px; /* Скругляем углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}

textarea {
    resize: none;
    padding: 15px; /* Внутренний отступ */
    width: calc(100% - 20px); /* Ширина на 20 пикселей меньше */
    height: 100px; /* Высота поля ввода для отображения нескольких строк */
    margin-bottom: 10px;
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Скругление углов */
    box-sizing: border-box; /* Учитываем отступы в ширине */
}

button {
    padding: 10px 15px;
}

#textarea4 {
    margin-top: 18px; 
}

h2 {
    margin-top: 20px;
}

/* Мобильная версия */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Вертикальное расположение на мобильных устройствах */
        gap: 20px; /* Расстояние между секциями на мобильных устройствах */
    }
}